body {
  background: url('img/time.jpeg') no-repeat;
  background-size: cover;
  font-family: Arial;
  color: white;
}

h1 {
  text-align: center;
  font-size: 40px;

}

.default {


}

#dropdown {
  margin: 0 auto;
  width: 800px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ul li {
  float: left;
  width: 200px;
  height: 40px;
  background-color: black;
  opacity: .8;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
}

ul li a {
  text-decoration: none;
  color: white;
  display: block;
}

ul li a:hover {
  background-color: green;
}

ul li ul li {
  display: none;
}

ul li:hover ul li {
  display: block;
}

#my-chart {
  margin: auto;
  width: 50%;
  margin-top: 20px;
}

#activity-field {
  padding: 12px;
  margin-right: 10px;
}

.button-class {
  margin: 0 auto;
  width: 500px;
  margin-top: 100px;
}

.submit-button {
  background-color: rgb(240, 183, 58);
  color:rgb(33, 69, 52);
  padding: 15px 32px;
  margin: 2px;
  display: inline;
  margin: auto;

}

.start-button {
  background-color: rgb(240, 183, 58);
  color:rgb(33, 69, 52);
  padding: 15px 32px;
  margin: 2px;
  display: inline;
}

.stop-button {
  background-color: rgb(240, 183, 58);
  color:rgb(33, 69, 52);
  padding: 15px 32px;
  display: inline;
}

.start-button:hover {
  background-color: rgb(2, 3, 0);
  color: rgb(250, 245, 248);
}

.stop-button:hover {
  background-color: rgb(2, 3, 0);
  color: rgb(250, 245, 248);
}

.submit-button:hover {
  background-color: rgb(2, 3, 0);
  color: rgb(250, 245, 248);
}
